.loginContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
  
.loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
  
.loginList {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 80%;
    height: 50%;
    border-radius: 20px;
}
  
.loginBtn {
    width: 200px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: bold;
    color: #ffffff;
    --border-radius: 20px;
}